<div class="nav font15">
    <div class="Infinity" infinite-scroll="getMoreExpenses()">
        <article class="ready expense-cont" ng-repeat="expense in expenses | orderBy:sort : true track by $index">
            <section class="item" ng-click="editExpense(expense, $index)" ng-class="{editMode: isEditMode}" >
                <div class="left-part">
                    <div class="remove">
                        <a href="" class="icon icon-delete float-left"
                           ng-show="isEditMode"  ng-click="deleteExpense(expense.expenseId)" >
                        </a>
                    </div>
                    <div class="desc">
                        <p class="main-text">{{ expense.description }}</p>
                        <span class="info-text date">{{ expense.date | date:'dd MMMM yyyy' }}</span>
                    </div>
                </div>
                <div class="right-part">
                    <span class="info-text money">{{expense.currency.code}} {{expense.originalAmount }}</span>

                    <div class="float-right" ng-switch="expense.imageType === 'void'" stop-event="click">
                        <a ng-switch-when="true" ng-click="takePhoto(expense)" class="icon icon-photo"></a>
                        <a ng-switch-when="false" class="icon icon-photo-taken"></a>
                    </div>
                </div>
            </section>
        </article>
        <loading></loading>
    </div>
</div>
