<div class="loader">
    <div tabindex="-1" role="dialog" class="transparent-background modal fade ng-isolate-scope in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" style="z-index: 1060; display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body no-padding">
                    <div class="message">
                        <p>
                            <img src="resources/images/ajax-loader.gif" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>